<%- include('header'); -%>
<body class="contact">
    <div class="wrapper">
        <div class="nav-contact">
            <div class="left">
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Equipe</a></li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li><a href="#">Connection</a></li>
                    <li><a href="#">S'enregistrer</a></li>
                </ul>
            </div>
        </div>


        <div class="header-contact">
            <h1>Contactez-nous</h1>
            <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero quae deserunt non, deleniti reiciendis voluptatibus quaerat velit maiores quos est delectus placeat, explicabo, vitae totam necessitatibus corporis voluptatum! Suscipit, qui!
            </p>
        </div>

        <div class="form">
            <form action="">
                <input type="text" placeholder="Nom">
                <input type="text" placeholder="Email">
                <input type="text" id="msg" placeholder="Message">
            </form>
            <button id="button-contact"type="button">Envoyer</button>
        </div>

        <div class='pixels-photo'>
            
              <img src='https://drscdn.500px.org/photo/1009533137/m%3D900/v2?sig=2b92ed5f17e77cc1debeb3e6b4339f8c06998730773551e4ff8e6124cc3a60db' alt='Santa Maddalena by Croosterpix on 500px.com' />
            
            </div>
            
            <script type='text/javascript' src='https://500px.com/embed.js'></script>

    </div>

    <!-- footer -->
    <%- include('footer'); -%>
</body>
</html>