<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <link rel="stylesheet" href="style.css">
    <title>cv</title>
</head>
<body>
<div class="container">

    <div class="cv">
        <div class="colonne-gauche">
            <img src="image/profil-cv.jpeg" alt="photo_profil">
            <h3>Rarib LAAMIMAT</h3>
            <h6>WEB DEVELOPER & WEB <br>MOBILE</h6>
            <hr>
        
        <div class="presentation">
            <h4>PRESENTATION</h4>
        <p>
            Passionné de mathématiques et de 
            sciences en général j’ai opté 
            pour une reconversion dans le domaine de 
            l’informatique  et   du développement
            d’application. Désormais “produire ou 
            s’épanouir, il faut choisir” ne meconcerne 
            plus car je suis productif et très épanoui !
        </p>
        </div>
        <div class="langage_programmation">
            <h4>LANGAGES DE PROGRAMMATION</h4>
            <P>JavaScript, NodeJS, PHP, Swift</P>
            <h4>FRAMEWORK</h4>
            <p>Symfony, Boostrap, Jquery</p>
        </div>
        <div class="contact">
            <h4>CONTACT</h4>
            <p>Tel: 0651774606</p>
            <a class="mail" href="mailto:glgharib@gmail.com">glgharib@gmail.com</a>
            <address>11 rue de cambrai <br> 59124 ESCAUDAIN</address>
        </div>
        </div>

        <div class="colonne-droite">
            <div class="formation">
                <h4>ETUDES & FORMATIONS</h4>

                <p>Formation Web-Force 3 Intégrateur, developpeur Web et Web mobile</p>
                <p>Formation Apple-foundation juin 2019</p>
                <p>Université de Valenciennes et du Hainaut-Cambrésis, droit et sciences politiques.</p>
                <p>Formation en gestion et finances publique Formation en communication et PNL</p>
                <p>BAC STI lycée Kastler</p>
                
            </div>
            <div class="EXPERIENCE">
                <h4>EXPRERIENCE</h4>
                <p>Agent d'exploitation logistiqu chez Amazon 2018-2019 Agent</p>  <p>commercial - Socitété Réfrisol</p>
                    <p>Gérant d'une société de transport de vehicule de moins de 2.5t</p>
                    <p> Assistant d'éducation nationale 2004-2005</p>
            </div>
            <div class="competences">
                <h4>COMPETENCE</h4>
                <h5>SCIENCES</h5>
                <p>Math sup, Math spé</p>
                <h5>INFORMATIQUE</h5>
                <p>Intégrateur developpeur web, developpement de plusieurs projets nodeJS et Symfony coté serveur</p>
                <p>Unity 3D developpement d'un jeu éducatif conforme aux programmes scolaires, sur les mathématiques</p>
            </div>
            <div class="autres-competences">
                <h4>AUTRES EXPERIENCES</h4>
                <p>Conseiller municipal de la ville d'Escaudain de 2008 à 2020 (participation à divers commissions : Urbanisme, Travaux, Sport, Communication, Politique de la ville...</p>
                <p>Directeur dans une campagne électorale </p>
                <p>Participation à un colloque à Lourdes</p>
            </div>
        </div>
    </div>

</div>
</body>
</html>