<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="style.css">
		<title>Portfolio</title>
		<%# using-fontAwsom %> 
		<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
		<link href='https://fonts.googleapis.com/css?family=Arvo:700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:300,100' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

	</head>