<%- include('header'); -%>

	<body>
		<section class="en-tete">
			<%# navigation %> 
			<nav>
				<%# logo %> 
				<a href="#" class="logo">MCD</a>
				<%# menu %> 
				<ul>
					<li><a href="/views/contact.ejs">Accueil</a></li>
					<li><a href="#">A propos</a></li>
					<li><a href="#">Contactez-nous</a></li>
					<li><a href="#">équipe</a></li>
				</ul>
			</nav>
			<%# text %> 
			<div class="text-container">
				<p>Developpeur Mobile</p>
				<p>Developpeur Web</p>
				<p>UI, UX</p>
                <q>Fais un travail que tu aimes et tu ne travailleras pas un seul jour de ta vie</q>
                <p>(Proverbe Chinois)</p>
                
            </div>
			<%# nuage de mots %> 
            <div class="nuage-de-mots">
                <p>JavaScript</p>
                <p>Symfony</p>
                <p>NodeJS</p>
                <p>PHP</p>
                <p>Swift</p>
                <p><span>My</span>SQL</p>
                <p>CSS</p>
                <p>Bootstrap</p>
                <p>HTML</p>
            </div>
			<%# mot %> 
				<span class="glow">Matt Cornic Dev</span>

		</section>
		<%# about-section %> 
		<div
			class="about-container">
			<%# image %> 
			<img
			src="image/LAAMIMAT-Rarib.png" alt="portrait">
			<%# about-text %> 
			<div class="about-text">
				<p>Rarib LAAMIMAT</p>
				<p>Developer web & web mobile</p>
				<p>Passionné de mathématique et de sciences en générale j'ai opté pour une reconversion dans le domaine informatique et du développement d'aplication. Désormais produire ou s'épanouir, il faut choisir ne me concerne plus car je suis autant productif qu'épanoui.</p>
				<p>Langage de programmation</p>
				<p>
					Javascript, Php, Swift
				</p>
				<p>Framework</p>
				<p>Node.js, Symfony, Bootstrap, jquery...</p>
				<%# button %> 

				<button>En savoir plus</button>
				<button>Télécharger CV</button>
			</div>

		</div>
		<%# services %> 
		<div
			class="services">
			<%# text %> 
			<div class="services-text">
				<p>Services</p>
				<p>Nos Services</p>
				<p>Nous réalisons vos sites entièrement ou partiellement. Notre équipe est à votre disposition pour tous renseignements et précisions.</p>
			</div>
			<%# box %> 
			<div
				class="box-container">
				<%# 1 %> 
				<div class="box-1">
					<i class="fas fa-window-restore"></i>
					<p class="heading">Intégration</p>
					<p class="details">Si vous ne savez pas quoi choisir nous vous accompagnons pour réaliser le design qui vous satisfera et qui correspondra à l'image de votre société, de vos produits ou de votre personne</p>
					<button>En savoir plus</button>
				</div>
				<%# 2 %> 
				<div class="box-2">
                    <i class="fas fa-code"></i>
					<p class="heading">Développement</p>
					<p class="details">Le site peut-être intégré et développé par notre équipe, nous réalisons nos projets aussi bien avec PHP ou le framework Symfony ou l'environnement JavaScript nodeJS, versionning de projet avec GIT</p>
					<button>En savoir plus</button>
				</div>
				<%# 3 %> 
				<div class="box-3">
					<i class="fas fa-database"></i>
					<p class="heading">Sécurité/SEO</p>
					<p class="details">La sécurité est primordiale et nos sites sont entièrement sécurisés de sorte à ne pas subir d'intrusions néfastes. Le référencement google est optimisé au maximum</p>
					<button>En savoir plus</button>
                </div>
				<%# 4 %> 
				<div class="box-4">
					<i class="fas fa-server"></i>
					<p class="heading">Hébergement</p>
					<p class="details">Mise en place d'hébergements mutualisés ou VPS spécifique à vos besoins ou votre application web.</p>
					<button>En savoir plus</button>
				</div>
			</div>

        </div>
        
		<%# contactez-moi %> 
		<div class="contactez-moi">
			<p>"Vous avez un projet ?"</p>
			<button>Contactez-nous</button>
        </div>
        
		<%- include('footer'); -%>